.button{
  height: 40px;
  font-size: 15px;

  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

.rounded{
  border-radius: 50px;
}

.sign-in {
  color: #007FD8;
  background-color: #ffffff;
  border: 1px solid #007FD8;
  min-width: 113px;
  font-weight: 400;
}

.sign-up {
  color: #ffffff;
  background-color: #007FD8;
  border: 1px solid #007FD8;
  min-width: 161px;
  font-weight: 300;
}

.registration {
  color: #ffffff;
  background-color: #007FD8;
  border: 1px solid #007FD8;
  min-width: 207px;
  height: 60px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}
