@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.icon {
  height: 33px;
  fill: #8e9aac;
}

.icon:hover {
  cursor: pointer;
  fill: #474c5a;
}
