.icon {
  height: 33px;
  fill: #8e9aac;
}

.icon:hover {
  cursor: pointer;
  fill: #474c5a;
}

.banner-title {
  font-size: 3em;
}

.banner-title-small {
  margin-top: 100px;
  font-size: 2em;
}
.text-title {
  font-size: 1.5em;
}
.banner-big-title {
  font-size: 4em;
}

.img {
  width: 100%;
}

@media (max-width: 600px) {
  .banner-title {
    font-size: 1.5em;
  }
  .banner-title-small {
    margin-top: 0;
    font-weight: 500;
    font-size: 1.3em;
  }
  .text-title {
    font-size: 1.3em;
    font-weight: 500;
  }
}

.banner-center {
  text-align: center;
}

.grey-text {
  color: #707070;
}
